<!DOCTYPE html>
<html lang="en">
<head>
    <title>Big Cheez</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css">   

    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" 
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container-fluid" id="firstNavbar">        
        <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
          <div class="col-md-7"></div>
          <div class="col-md-5">
            <ul class="navbar-nav float-right">
              {% if session['user'] or session['employee']%}
              <li class="nav-item ">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </nav>
    </div>

    <div class="container-fluid" id="secondNavbar">
            <div class="header">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <a class="navbar-brand" href="/Home">Big Cheez</a>
                </nav>
            </div>
    </div>

    <div class="container">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                            <span class="mx-auto">{{ message }}</span>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}  

        <div class="col-md-4">
            <form action="/addProd" method="POST" enctype="multipart/form-data">
                <label for="inputName">Name</label>
                <input type="text" name="inputName" id="inputName" class="form-control">
                <label for="inputImg">Image</label>
                <input type="file" name="inputImg" id="inputImg" class="form-control">
                
                <label for="country">Country of Origin</label>
                <input type="text" name="country" id="country" class="form-control">
                <label for="milk">Milk Source</label>
                <select id="milk" name="milk" class="form-control">
                    <option value="Cow">Cow</option>
                    <option value="Sheep">Sheep</option>
                </select>
                <label for="type">Type</label>
                <select id="type" name="type" class="form-control">
                    <option value="Hard">Hard</option>
                    <option value="Soft-ripened">Soft-ripened</option>
                    <option value="Fresh soft">Fresh soft</option>
                    <option value="Soft">Soft</option>
                    <option value="Semi-hard">Semi-hard</option>
                    <option value="Crumbly">Crumbly</option>
                    <option value="Semi-soft">Semi-soft</option>
                </select>
                <label for="price">Price per 100gm</label>
                <input type="text" name="price" id="price" class="form-control">
                <label for="qty100">Quantity of size 100gm</label>
                <input type="number" name="qty100" class="form-control" id="qty100">
                <label for="qty200">Quantity of size 200gm</label>
                <input type="number" name="qty200" class="form-control" id="qty200">
                <label for="qty300">Quantity of size 300gm</label>
                <input type="number" name="qty300" class="form-control" id="qty300">
                <label for="qty500">Quantity of size 500gm</label>
                <input type="number" name="qty500" class="form-control" id="qty500">

                <input type="submit" name="submit" class="btn btn-secondary float-right my-2" value="ADD PRODUCT" >


            </form>
        </div>
    </div>
</body>
</html>